language: go
sudo: false
go:
  - 1.11
go_import_path: github.com/uber-go/kafka-client
cache:
  directories:
    - vendor
install:
  - make dependencies
script:
  - make lint
  - make test
  - make bench
after_success:
  - make cover
  - bash <(curl -s https://codecov.io/bash)
